include ./layouts/header
+header('Onboarding')
body
  table(role="presentation", background="https://deeto-images.s3.amazonaws.com/static/backgrounds/bg-green-pink.png", width="100%", height="100%").container
    tr
      td.container-body
        table.header
          tr
            td
              img(src="${companyLogo}", alt="Company logo").header-logo
        center.referenceInvite-card
          table.card-body
            tr
              td
                p.referenceInvite-text
                  | Hi ${referenceName}, <br /> <br />
                  | Unfortunately ${prospectName} is no longer availlable for your meeting at ${date}.
                  | We accreciate your willingness to help ${prospectName} and ${companyName} and we will be in touch soon.
                  | All the best, <br />
                  | ${companyName}
        table.footer
          tr.footer-body
            td
              div.copyright
                | © 2022. Powered by
                img(src="https://deeto-images.s3.amazonaws.com/static/logo-deeto.png", alt="Deeto copyright logo")