include ./layouts/header
+header('${companyName} references are waiting for you')
body
  table(role="presentation", background="https://deeto-images.s3.amazonaws.com/static/backgrounds/bg-yellow-red.png", width="100%", height="100%").container
    tr
      td.container-body
        table.header
          tr
            td
              p.logo
                img(src="https://deeto-images.s3.amazonaws.com/static/logo-deeto.png", alt="Company logo")
        center.card
          table
            tr
              td
                p.text
                  | Hi ${prospectName},<br /><br />
                  | We noticed you still did not send any meeting request to any of the references Mike selected for you. Please click on any of the profiles below to schedule a call with them.
          table
            tr.list-item
              td
                div.user-card
                  table
                    td
                      div.user-avatar
                        img(src="${referenceAvatar}", alt="Person")
                    td
                      div.description
                        strong
                          | ${referenceName}
                        p
                          | ${referencePosition}
            tr.divider
          table
            tr.list-item
              td
                div.action-card
                  a(href="${redirectUrl}", target="_blank").button-outlined
                    | See your references
        table.footer
          tr.footer-body
            td
              div.copyright
                | © 2022. Powered by
                img(src="https://deeto-images.s3.amazonaws.com/static/logo-deeto.png", alt="Deeto copyright logo")