include ./layouts/header
+header('Meeting between ${prospectName} from ${prospectPosition} and ${referenceName} just ended')
body
  table(role="presentation", background="https://deeto-images.s3.amazonaws.com/static/backgrounds/bg-blue-pink.png", width="100%", height="100%").container
    tr
      td.container-body
        table.header
          tr
            td
              img(src="https://deeto-images.s3.amazonaws.com/static/logo-deeto.png", alt="Deeto copyright logo").header-logo
        center.newProspect-card
          table.card-body
            tr
              td
                p.text
                  | Hey ${salesRepName}, <br /> <br />
                  | The meeting between ${prospectName} and ${referenceName} just ended. <br />
                  | We will notify you if they submit their post call survey.
            tr.divider
          table
            tr.list-item
              td
                div.user-card
                  table
                    td
                      div.user-avatar
                        img(src="${prospectAvatar}", alt="Person")
                    td
                      div.description
                        strong
                          | ${prospectName}
                        p
                          | ${prospectPosition}
            tr.divider
          table
            tr
              td.center
                a.button-outlined
                  | See ${prospectName} profile
        table.footer
          tr.footer-body
            td
              div.copyright
                | © 2022. Powered by
                img(src="https://deeto-images.s3.amazonaws.com/static/logo-deeto.png", alt="Deeto copyright logo")