include ./layouts/header
+header('New reward available')
body
  table(role="presentation", background="https://deeto-images.s3.amazonaws.com/static/backgrounds/bg-green-pink.png", width="100%", height="100%").container
    tr
      td.container-body
        table.header
          tr
            td
              img(src="${companyLogo}", alt="Company logo").header-logo
        center.newProspect-card
          table.card-body
            tr
              td
                p.text
                  | Hey ${referenceName}, <br /> <br />
                  | We wanted to thank you for your help being a reference of ${companyName} and helping ${prospectName} make a more informed decision. <br />
                  | As a token of our appreciation we added ${reward} to your deeto account. Please click below to redeem. <br /><br />
                  | Your available balance is ${balance}
          table
            tr
              p.emoji
                | 🎉🎉🎉
          table
            tr
              td.center
                a.button-outlined
                  | Redeem
        table.footer
          tr.footer-body
            td
              div.copyright
                | © 2022. Powered by
                img(src="https://deeto-images.s3.amazonaws.com/static/logo-deeto.png", alt="Deeto copyright logo")